@font-face {
  font-family: 'Quincy CF';
  src: url('/wp-content/themes/suzanneclothier/assets/fonts/QuincyCF-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
