/* Default */
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply font-sans;
  @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}
input[type='checkbox'] {
  @apply rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-offset-0 focus:ring-blue-200 focus:ring-opacity-50;
}

.inline-form-pill {
  @apply relative;
  input {
    @apply border-0 rounded-full shadow-none focus:ring-0 focus:outline-none;
  }
}

/* Select2 */
.select2-container {
  @apply block font-sans text-left;
  .select2-selection--single {
    @apply block box-border cursor-pointer h-auto mt-0 mx-0 -mb-1 shadow-sm;
    .select2-selection__rendered {
      @apply py-2 pl-3 pr-5;
    }
  }
}

.select2-dropdown {
  @apply rounded border border-gray-300 bg-white shadow-md;
}
.select2-search--dropdown {
  display: block;
  padding: 4px;
  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
  }
}

.select2-container--default {
  .select2-selection--single {
    @apply rounded border border-gray-300 bg-white;
    .select2-selection__rendered {
      @apply text-gray-700 leading-normal;
    }
    .select2-selection__arrow {
      height: 41px;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 20px;
      b {
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
      }
    }
  }
  .select2-search--dropdown .select2-search__field {
    @apply border border-gray-300 shadow-none;
  }
  .select2-results__option[aria-selected='true'],
  .select2-results__option[data-selected='true'] {
    @apply bg-gray-200;
  }
  .select2-results__option--highlighted[aria-selected],
  .select2-results__option--highlighted[data-selected] {
    @apply bg-primary-light;
  }
}
