html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-700;
}

.site-header-top {
  @apply border-b border-black border-opacity-10;
  //box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.site-header-bottom {
  @apply bg-white;
}
.header-transparent {
  .site-header-bottom {
    @apply bg-opacity-0;
  }
}
.header-semi-transparent {
  .site-header-bottom {
    @apply bg-opacity-90;
  }
}
.header-opaque {
  .site-header-bottom {
    @apply bg-opacity-100;
  }
}
.header-border-bottom {
  .site-header-bottom {
    @apply border-b border-black border-opacity-10;
  }
}

.site-logo {
  height: 72px;
  width: auto;
}

.primary-menu {
  .current-menu-item {
    > a {
      @apply border-opacity-100;
    }
  }
}

.header-menu {
  a {
    @apply text-primary inline-block px-3 leading-none border-r-2 border-primary hover:text-primary-light;
  }
  .menu {
    @apply flex list-none m-0 p-0;
    > li {
      &:last-child {
        a {
          @apply border-r-0;
        }
      }
    }
  }
}

.hero {
  margin-top: -64px;
  padding-top: 64px;
  @apply relative z-10 bg-no-repeat bg-cover;
  @media (min-width: 1024px) {
    margin-top: -149px;
    padding-top: 149px;
  }
}

.learning-path--item {
  .learning-path--link {
    .bg-overlay {
      @apply absolute inset-0 bg-black bg-opacity-30 w-full h-full transition-all;
    }
    &:hover {
      .bg-overlay {
        @apply bg-primary bg-opacity-60;
      }
    }
  }
}

.learning-path-quiz {
  &--progress-bar {
    @apply w-full h-3 relative bg-secondary bg-opacity-20 rounded-full;
  }
  &--progress {
    @apply h-3 w-1/5 bg-secondary rounded-full absolute left-0 top-0;
  }
  &--tooltip {
    @apply absolute w-16 h-12 rounded bg-secondary right-0 -mr-8 -top-16 text-center font-bold px-1 py-4 text-base leading-none;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #e4ba7c transparent transparent transparent;
      position: absolute;
      bottom: -8px;
      left: 24px;
    }
  }
}

.entry-content {
  /* h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  h5 {
    @apply text-base font-semibold;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul {
    @apply mb-6;
  }
  ul {
    @apply pl-4 list-disc;
    li {
      @apply mb-1;
    }
  }
  a {
    @apply text-link hover:underline hover:text-link-hover;
  } */
}

.breadcrumb {
  a {
    @apply hover:text-link-hover hover:underline;
  }
}

.section-anchor {
  scroll-margin-top: 48px;
}

.page-membership {
  .checkout {
    @apply max-w-5xl mx-auto mt-16;
  }
  .opc_order_review {
    table.shop_table {
      @apply bg-white;
    }
  }
  .button.checkout-quantity {
    @apply py-3 px-8 text-xl shadow-md;
  }
  .opc-complete-order {
    @apply mt-2;
  }
  .opc-pricing-table-wrapper {
    .opc-pricing-table-bg {
      background-image: url(/wp-content/themes/suzanneclothier/assets/images/logo-icon-white.svg);
      background-repeat: no-repeat;
      background-position: center top;
      //background-size: 600px;
      @apply bg-contain;
    }
    .opc-pricing-table-product:nth-child(2) {
      @apply bg-secondary bg-opacity-100;
    }
  }
}

#about-suzanne,
#customer-service {
  .text-area {
    @apply font-medium;
    p {
      @apply mb-4;
      &:first-child {
        @apply text-xl;
      }
    }
    ul {
      @apply mb-4 list-disc pl-5;
    }
  }
}

.group:focus .group-focus\:max-h-screen {
  @apply max-h-screen;
}
.group:focus .group-focus\:-rotate-180 {
  @apply -rotate-180;
}
.group:focus .group-focus\:rotate-180 {
  @apply rotate-180;
}

.faq {
  .faq-content {
    p {
      @apply mb-4;
    }
  }
}

.learning-path-intro {
  .intro-text {
    @apply font-medium;
    p {
      @apply mb-4;
      &:first-child {
        @apply text-xl;
      }
    }
  }
}

.footer-menu {
  a {
    @apply hover:underline;
  }
}

.footer-newsletter {
  .frm_style_formidable-style.with_frm_style .form-field {
    @apply mb-0;
  }
  .with_frm_style .vertical_radio .frm_checkbox label,
  .with_frm_style .vertical_radio .frm_radio label {
    @apply flex pl-0 text-white;
    text-indent: 0px;
  }
  .with_frm_style .frm_radio input[type='radio'],
  .with_frm_style .frm_checkbox input[type='checkbox'] {
    @apply mt-px;
  }
  .with_frm_style .vertical_radio .frm_checkbox,
  .with_frm_style .vertical_radio .frm_radio,
  .vertical_radio .frm_catlevel_1 {
    @apply mt-1;
  }
  .frm_form_fields .frm_fields_container {
    @apply block gap-0 grid-cols-none;
  }
  .with_frm_style .frm_top_container .frm_primary_label {
    @apply hidden;
  }
  .with_frm_style input[type='email'] {
    height: 44px;
    @apply leading-6 h-auto text-gray-700 w-full px-4 bg-white border-0 rounded-full shadow-none focus:ring-0 focus:outline-none focus:shadow-none;
  }
  .frm_style_formidable-style.with_frm_style
    .form-field
    input:not([type='file']):focus {
    @apply shadow-none;
  }
  .frm_style_formidable-style.with_frm_style.frm_inline_top
    .frm_submit::before {
    @apply hidden;
  }
  .frm_style_formidable-style.with_frm_style.frm_inline_form
    .frm_submit
    button {
    @apply py-3 px-4 text-sm border-0 rounded-full bg-secondary font-semibold shadow-none text-primary uppercase hover:bg-opacity-80 whitespace-nowrap cursor-pointer;
  }
  .frm_style_formidable-style.with_frm_style .frm_submit button {
    @apply py-3 px-4 text-sm border-0 rounded-full bg-secondary font-semibold shadow-none text-primary uppercase hover:bg-opacity-80 whitespace-nowrap cursor-pointer;
  }
}

.search-results {
  .md\:aspect-none > img {
    @apply h-full w-full inset-0;
  }
}
