.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    @apply float-none w-full;
    .woocommerce-MyAccount-navigation-link {
      @apply border-b border-solid border-gray-200;
      &:last-child {
        @apply border-0;
      }
      a {
        @apply block py-2 hover:text-secondary-dark;
        /* @apply block py-3 hover:text-secondary-dark text-sm font-semibold; */
      }
      &.is-active {
        a {
          @apply text-secondary-dark;
        }
      }
    }
  }
  .non_member {
    .woocommerce-MyAccount-navigation-link--courses,
    .woocommerce-MyAccount-navigation-link--on-demand,
    .woocommerce-MyAccount-navigation-link--articles {
      @apply hidden;
    }
  }
  .woocommerce-MyAccount-content {
    @apply float-none w-full;
    /* @apply p-8 rounded-md shadow-md border border-gray-200; */
    /* @apply py-8; */
    a {
      /* @apply text-link hover:text-link-hover; */
    }
    p {
      @apply mb-5;
    }
  }
  .woocommerce-EditAccountForm {
    @apply font-sans text-sm;
    .form-row {
      label {
        @apply text-sm leading-normal font-semibold mb-1;
      }
    }
    fieldset {
      legend {
        @apply text-lg font-bold mb-4;
      }
    }
  }
}

#copyText {
  @apply inline-flex w-auto text-xl py-4 px-6;
}

.copyTooltip {
  @apply inline-flex;
  button {
    @apply text-xl flex relative p-2 justify-center align-middle w-12 -ml-12;
  }
  .copyTooltipText {
    @apply text-sm font-sans;
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
  &:hover .copyTooltipText {
    visibility: visible;
    opacity: 1;
  }
}
