.page-membership-checkout {
  .blockUI {
    &.blockOverlay {
      z-index: 1000;
      border: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: rgb(255, 255, 255) !important;
      opacity: 0.6;
      cursor: wait;
      position: absolute;
    }
  }
  .rcp_header {
    @apply text-center font-bold text-2xl md:text-3xl lg:text-4xl mb-4;
  }
  #rcp_registration_form {
    @apply p-0;
    .rcp_description {
      @apply text-center;
    }
    .rcp_login_link {
      @apply text-center;
      a {
        @apply text-link underline hover:text-link-hover;
      }
    }
    .rcp_user_fieldset {
      @apply p-4 md:p-6 rounded-xl bg-white shadow-md border border-solid border-gray-200 mb-8;
    }
  }
  .rcp_registration_total {
    @apply p-4 md:p-6 rounded-xl bg-white shadow-md border border-solid border-gray-200 mb-8;
  }
  .rcp_registration_total_details {
    @apply text-sm w-full border-collapse mb-0;
    thead {
      th {
        @apply text-left;
        &:last-child {
          @apply text-right;
        }
      }
    }
    td {
      @apply text-left;
      &:last-child {
        @apply text-right;
      }
    }
    tbody {
      td {
        @apply text-left py-2;
      }
    }
    tfoot {
      @apply border-t border-solid border-gray-300;
      th {
        @apply text-right;
      }
      tr {
        &:first-child {
          th,
          td {
            @apply pt-2;
          }
        }
      }
    }
  }
  .rcp_form {
    @apply font-sans;
    p {
      @apply mb-4;
    }
    label {
      @apply text-sm font-semibold inline-block mb-1;
    }
    input[type='email'],
    [type='password'],
    [type='text'] {
      @apply py-2 px-4;
      &:focus {
        @apply border-blue-300;
      }
    }
  }
  #rcp-sandbox-gateway-test-cards {
    @apply text-sm;
  }
  .rcp_gateway_stripe_fields {
    @apply p-4 md:p-6 rounded-xl bg-white shadow-md border border-solid border-gray-200 mb-8;
    a {
      @apply text-link underline hover:text-link-hover;
    }
    div#rcp_card_name_wrap,
    div#rcp_card_wrap {
      @apply mb-4;
    }
    .StripeElement {
      @apply py-3 px-4 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
    }
  }
  #rcp_submit_wrap {
    @apply text-center;
    #rcp_submit {
      @apply inline-block uppercase font-montserrat font-semibold px-8 py-3 rounded-full text-white text-lg bg-primary whitespace-nowrap hover:bg-primary-light hover:text-white hover:no-underline cursor-pointer;
    }
  }
}

.rcp-table {
  @apply shadow overflow-hidden border-b border-gray-200 sm:rounded-md;
  @apply min-w-full divide-y divide-gray-200 mb-8 font-sans;
  a {
    @apply text-link hover:text-link-hover;
  }
  thead {
    @apply bg-gray-50;
    th {
      @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
    }
  }
  tbody {
    @apply bg-white divide-y divide-gray-200;
    td {
      @apply px-6 py-4 whitespace-nowrap;
    }
  }
  tfoot {
    td {
      @apply px-6 whitespace-nowrap;
    }
    tr {
      &:first-child {
        td {
          @apply pt-3;
        }
      }
      &:last-child {
        td {
          @apply pb-3;
        }
      }
    }
  }
}
.rcp_subscription_fieldset,
.rcp_discounts_fieldset {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.rcp_discounts_fieldset {
  .rcp_button {
    @apply px-8 py-2 rounded-full text-sm font-medium bg-gray-200 hover:bg-gray-100 mt-2;
  }
}
.rcp_form {
  p {
    @apply mb-4;
  }
  .rcp-table {
    @media (max-width: 480px) {
      th {
        display: none;
        //display: table-cell;
      }
      tr {
        td {
          display: block;
          text-align: left;
          padding-left: 50%;
          //display: table-cell;
          //padding-left: 1.5rem;
        }
      }
      td {
        &:before {
          content: attr(data-th) ': ';
          font-weight: 700;
          display: inline-flex;
          height: 100%;
          line-height: 100%;
          width: 100%;
          margin-left: -100%;
          white-space: normal;
          padding-right: 4px;
          //content: '';
          //display: none;
          //margin-left: auto;
        }
        &:last-child {
          text-align: left;
        }
      }
      tbody,
      tfoot {
        td {
          padding-right: 0.75rem;
        }
      }
    }
  }
  fieldset {
    label {
      font-family: sans-serif;
      margin-bottom: 2px;
    }
    > legend {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      @apply mb-3;
    }
  }
}

.rcp_submit {
  background-color: rgba(21, 81, 99, 1);
  border-radius: 9999px;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1.25rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.rcp_submit:hover {
  background-color: rgba(36, 137, 168, 1);
}
