.single-product {
  .site-header-bottom {
    @apply bg-opacity-90;
  }
  .member-price-compare {
    a {
      @apply no-underline;
    }
  }
}
.page-cart {
  .site-header-bottom {
    @apply border-b border-black border-opacity-10;
  }
}

.woocommerce,
.woocommerce-page {
  #content div.product,
  div.product {
    div.images {
      @apply float-none w-auto;
    }
    div.summary {
      @apply float-none w-auto;
    }
  }
}

.woocommerce {
  #respond input#submit,
  a.button,
  button.button,
  input.button {
    @apply px-5 py-2 rounded-full text-white text-sm bg-primary whitespace-nowrap hover:bg-primary-light hover:text-white hover:no-underline;
    &:disabled,
    &:disabled[disabled] {
      @apply text-white px-5 py-2 opacity-50 cursor-not-allowed hover:text-white hover:bg-primary;
    }
    &.alt {
      @apply bg-primary text-white antialiased rounded-full transition hover:bg-primary-light hover:text-white;
      &.disabled {
        @apply bg-primary hover:bg-primary;
      }
    }
  }

  .woocommerce-breadcrumb {
    @apply m-0 p-0 text-sm lg:text-base text-gray-700 -mx-1;
    a {
      @apply hover:text-link-hover hover:underline;
    }
  }

  .star-rating {
    @apply float-none;
  }

  .product {
    .product-card {
      .woocommerce-LoopProduct-link {
        @apply block;
        .product-thumbnail {
          img {
            @apply transition-transform duration-500;
          }
        }
        .product-title {
          @apply text-primary transition-colors;
        }
        &:hover {
          .product-thumbnail {
            img {
              @apply transform scale-110;
            }
          }
        }
      }
      .price {
        @apply block text-sm leading-tight mb-0.5;
      }
      .add_to_cart_button {
        @apply block;
        &.added {
          @apply bg-teal-600 hover:bg-teal-500;
        }
      }
      .added_to_cart {
        @apply block pt-1 text-sm text-right text-link hover:text-link-hover;
        @apply hidden;
      }
      .star-rating {
        @apply text-xs text-yellow-500 h-4;
      }
    }
  }

  .product-category {
    @apply list-none flex flex-col w-full h-full bg-white rounded-xl shadow-md p-4;
    > a {
      @apply block;
      > img {
        @apply rounded-xl mb-4;
      }

      .woocommerce-loop-category__title {
        @apply text-sm font-semibold mb-4;
        mark {
          @apply bg-transparent;
        }
      }
    }
  }

  nav.woocommerce-pagination {
    @apply flex justify-center mt-12;
    ul.page-numbers {
      /*       display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border: 1px solid #d3ced2;
      border-right: 0;
      margin: 1px; */
      @apply flex border-0 m-0 whitespace-nowrap shadow-md rounded-md bg-white mx-auto overflow-hidden;
      li {
        /* border-right: 1px solid #d3ced2;
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden; */
        @apply inline-block float-none border-r border-secondary-light;
        &:last-child {
          @apply border-r-0;
        }
        a,
        span {
          /* margin: 0;
          text-decoration: none;
          padding: 0;
          line-height: 1;
          font-size: 1em;
          font-weight: 400;
          padding: .5em;
          min-width: 1em;
          display: block; */
          @apply w-8 h-8 flex items-center justify-center p-2 text-base leading-none;
        }
        span.current {
          @apply bg-primary text-white;
        }
        a:hover {
          @apply bg-primary-light text-white;
        }
      }
    }
  }

  .woocommerce-ordering {
    select {
      /* @apply py-3 px-4 rounded-md bg-white focus:outline-none; */
    }
  }

  div.product {
    div.images {
      @apply mb-0;
      &.woocommerce-product-gallery {
        @apply mb-4 lg:mb-8;
      }
    }
    .product_meta {
      @apply text-sm lg:text-base;
      .sku_wrapper,
      .posted_in,
      .tagged_as {
        @apply font-semibold block mb-1;
      }
      .sku_wrapper {
        .sku {
          @apply font-normal;
        }
      }
      .posted_in,
      .tagged_as {
        a {
          @apply font-normal text-link hover:text-link-hover hover:underline;
        }
      }
    }
    div.summary {
      @apply mb-12;
      p.price,
      span.price {
        @apply text-2xl mb-0;
      }
    }
    p.price,
    span.price {
      @apply text-base text-teal-700 font-semibold mb-0;
      ins {
        @apply no-underline;
      }
    }
    form.cart {
      @apply my-6 flex;
      div.quantity {
        @apply float-none m-0 mr-3;
        .qty {
          line-height: 54px;
          @apply text-center w-24 font-semibold py-0;
        }
      }
      &.variations_form {
        @apply flex-col;
        .variations {
          select {
            @apply border border-gray-300 rounded-md py-2 px-2;
          }
        }
        .reset_variations {
          @apply text-xs;
        }
        .variation {
          @apply mb-4;
        }
        .woocommerce-variation-price {
          @apply mb-6;
        }
        .woocommerce-variation-add-to-cart {
          @apply flex;
        }
      }
    }
    .single_add_to_cart_button.button {
      @apply float-none shadow-md px-8 py-4 rounded-full text-white text-base bg-primary hover:bg-primary-light;
    }

    .woocommerce-product-rating {
      @apply mb-6 leading-none;
      .star-rating {
        @apply float-none m-0;
        @apply text-secondary inline-block align-middle mr-2;
      }
    }
    p.stock {
      @apply text-sm;
      @apply text-teal-600;
    }
  }

  .woocommerce-review-link {
    @apply inline-block align-middle;
  }
  p.stars {
    a {
      @apply text-orange-400;
    }
  }
  .woocommerce-Reviews {
    @apply border-t border-gray-300 pt-12 mt-12;
  }
  #review_form {
    #respond {
      p {
        @apply mb-4;
      }
      .comment-reply-title {
        @apply block mb-4;
      }
      .comment-form {
        label {
          @apply block font-semibold mb-1;
          .required {
            @apply text-red-500;
          }
        }
      }
      #comment {
        @apply rounded-md border border-gray-300 focus:outline-none p-4;
      }
    }
  }
  #respond {
    input#submit {
      @apply px-8 py-3 rounded-full text-white bg-primary;
    }
  }

  table.shop_table {
    @apply border border-black border-opacity-10 mb-6 mx-0 mt-0 border-separate rounded-lg shadow-md overflow-hidden;
    th {
      /*       font-weight: 700;
      padding: 9px 12px;
      line-height: 1.5em; */
      @apply font-semibold py-3 px-4 leading-normal align-middle;
    }
    td {
      /*       border-top: 1px solid rgba(0,0,0,.1);
      padding: 9px 12px;
      vertical-align: middle;
      line-height: 1.5em; */
      @apply border-t border-black border-opacity-10 py-3 px-4 leading-normal align-middle;
    }
    thead {
      tr {
        @apply bg-gray-100;
      }
    }
    .cart_item {
      .qty {
        /* @apply border border-black border-opacity-10 rounded-md w-20 text-center py-2 pl-4 pr-2; */
        @apply w-20 text-center ml-auto lg:ml-0;
        /* @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50; */
      }
    }
    a.remove {
      @apply no-underline text-2xl h-6 w-6 leading-5;
    }
    &.cart {
      @apply mb-10;
      .product-thumbnail {
        img {
          @apply w-12 rounded-md;
        }
      }
      .product-name {
        a {
          @apply text-primary hover:text-primary-light;
        }
      }
      td.actions {
        @apply text-right py-4;
        .coupon {
          @apply float-none flex;
          .input-text {
            @apply float-none w-56 mr-0 pl-6 pr-8 py-3 bg-gray-50;
            @apply block w-full rounded-l-full rounded-r-none border-gray-300 focus:border-gray-300 focus:ring-0;
          }
          .button {
            @apply -ml-8 py-3;
          }
        }
        .button {
          @apply py-3;
        }
      }
    }
  }

  .cart-collaterals {
    @apply flex flex-wrap;
    .cross-sells,
    .cart_totals {
      @apply float-none w-full;
    }
    .cross-sells {
      @apply w-full mb-10 lg:mb-0 lg:w-1/2 order-2 lg:order-1;
    }
    .cart_totals {
      @apply w-full lg:w-1/2 lg:pl-10 xl:pl-20 order-1 lg:order-2;
    }
    .shipping-calculator-form {
      @apply my-4;
    }
    .shipping-calculator-button {
      @apply mt-0 text-link hover:text-link-hover;
    }
  }

  form .form-row {
    @apply p-0 mb-2;
    input.input-text,
    textarea {
      @apply leading-normal;
    }
    > span {
      @apply block;
    }
    .select2-container {
      @apply leading-normal mb-1;
    }
  }

  ul#shipping_method {
    li {
      @apply m-0;
    }
  }

  form.checkout {
    .form-row {
      @apply mb-0;
      label {
        @apply text-sm leading-normal mb-1 inline-block font-semibold;
      }
    }
    .form-row-first,
    .form-row-last {
      @apply w-full;
    }
    .form-row-first {
      @apply float-none;
    }
    .form-row-last {
      @apply float-none;
    }

    .woocommerce-billing-fields,
    .woocommerce-shipping-fields,
    .woocommerce-account-fields {
      @apply mb-8;
      .form-row {
        @apply w-full;
      }
    }
    .woocommerce-additional-fields {
      @apply text-xl font-semibold font-montserrat mb-4;
    }
    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper,
    .create-account {
      @apply flex flex-wrap gap-y-4 pt-3;
    }
    .shipping_address {
      @apply mt-2;
    }
    #billing_first_name_field,
    #shipping_first_name_field {
      @apply w-1/2 pr-2;
    }
    #billing_last_name_field,
    #shipping_last_name_field {
      @apply w-1/2 pl-2;
    }
    #billing_address_2_field,
    #shipping_address_2_field {
      @apply -mt-3;
    }
    #billing_city_field,
    #billing_state_field,
    #billing_postcode_field,
    #shipping_city_field,
    #shipping_state_field,
    #shipping_postcode_field {
      @apply w-1/3;
    }
    #billing_city_field,
    #shipping_city_field {
      @apply pr-2;
    }
    #billing_state_field,
    #shipping_state_field {
      @apply pl-2;
    }
    #billing_postcode_field,
    #shipping_postcode_field {
      @apply pl-4;
    }
    .form-row label.checkbox {
      @apply inline-flex;
      input[type='checkbox'] {
        @apply inline-block mt-1 mr-0;
      }
      span {
        @apply ml-2;
      }
    }
    .woocommerce-checkout-review-order {
      @apply text-sm;
      .product-thumbnail {
        img {
          @apply rounded-md;
        }
      }
      .product-name {
        @apply font-semibold;
      }
      .product-quantity {
        @apply text-gray-400 font-normal;
      }
      .product-total {
        @apply font-semibold;
      }
    }
    .woocommerce-privacy-policy-text {
      @apply text-xs mb-4;
      a {
        @apply text-link hover:text-link-hover;
      }
    }
    #payment {
      @apply bg-white rounded-xl shadow-md border border-gray-200;
      #place_order {
        @apply py-3 px-8 text-lg;
      }
      div.payment_box {
        @apply mb-0;
      }
      ul.payment_methods,
      div.form-row {
        @apply p-4 lg:p-6;
      }
      ul.payment_methods {
        @apply border-b border-gray-200;
        input[type='checkbox'] {
          @apply inline-block mt-0 mr-1;
          width: 1rem !important;
        }
      }
    }
  }

  form.checkout_coupon,
  form.login,
  form.register {
    @apply rounded-xl p-6 border border-gray-200 my-8;
  }
}

.woocommerce-cart {
  .wc-proceed-to-checkout {
    @apply pb-0 pt-6;
    a.checkout-button {
      @apply mb-0 py-3 px-8 text-lg;
    }
  }
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  @apply bg-gray-100;
}
#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  @apply border-gray-100;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.woocommerce form.checkout #payment .wc-credit-card-form div.form-row {
  @apply p-0;
}

.woocommerce-form-register {
  .woocommerce-privacy-policy-text {
    @apply text-xs mb-4;
  }
}
